*{
	font-family: philosopher;
}

p{
	
    margin-left: 100px;
   text-align: center;
   margin-right: 200px;
}
img{
	border-radius: 50%;

}
h1{ 
	padding: 3px;
	background-color: red;
	text-align: center;
}

h2
{
	
}
a{
	
	
}
ul{
	list-style: none;

}
li{
	display:inline;
	margin:100px;
}
header{
	background-color: blue;
	padding: 5px;
}

li a{
	color: white;
	text-decoration: none;

}

li a:hover{
	color: red;
	text-decoration: none;

}
footer{
	background-color: navy;
	padding: 10px;
	color:white;


}