p{
	font-family: philosopher;
    margin-left: 100px;
   text-align: center;
   margin-right: 200px;
}
img{
	border-radius: 50%;

}
h1{
	font-family: philosopher;
	text-align: center;
}

h2
{
	font-family: philosopher;
}
a{
	font-family: philosopher;
	
}
