
*{
	font-family: philosopher;
}

li {
	color: yellow;
}
.services-content{

	margin-top: 50px;
}

.para-content{

	margin-top: 50px;
}

.img-cont{

	margin-top: 50px;

}
footer{
	background-color: black;
}


button{
	margin-top: 100px;
}
.foot{
	font-size: 24px;
}